
# this is the "requirements.txt" file...

python-dotenv

pandas

requests

plotly

statistics

pytest

sendgrid==6.6.0

# for web app interface
flask

#heroku:
gunicorn

# using bsoup in testing the web app:
beautifulsoup4